@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

.modal {
  position: relative;
  width: 70vw;
  height: 80vh;
  margin-top: 50px;
  background-color: wheat;
  box-shadow: 0 10px 10px rgb(92, 92, 92);
  z-index: 5;
}

.modal a {
  z-index: 5;
}

.recipePageVisible {
  visibility: default;
}

.recipePageNonVisible {
  visibility: hidden;
}

.recipePageShadow {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.4;
  z-index: 4;
}

.recipePage {
  position: fixed;
  left: 15%;
  top: 7%;
  width: 70%;
  height: 80vh;
  margin-top: 50px;
  background-color: #fff8e7;
  box-shadow: 0 10px 10px rgb(92, 92, 92);
  opacity: 1;
  z-index: 5;
}

.recipeHeader {
  display: block;
  position: absolute;
  top: 2%;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  height: 15%;
  text-align: center;
}

.recipeHeader h1 {
  font-weight: 300;
  font-size: 4vh;
}

.recipeIngredients {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
}


.recipeIngredients img {
  position: absolute;
  top: 93%;
  right: calc(50% - 15px);
  max-width: 30px;
}


.recipeList {
  position: absolute;
  top: 22%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  overflow: auto;
  text-align: justify;
}


.recipeList h2 {
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-weight: 400;
}

.recipeList p {
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  font-weight: 300;
}

.recipeList ul {
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  font-weight: 300;
}

.recipeContent img {
  position: absolute;
  top: 93%;
  right: calc(50% - 15px);
  max-width: 30px;
}

.arrowVisible {
  visibility: auto;
}

.arrowNot {
  visibility: hidden;
}

.recipeContent {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}

.recipeTitle {
  position: absolute;
  text-decoration: underline;
  top: 10%;
  width: 50%;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: top;
}

.recipeTitle h2 {
  font-weight: 300;
  font-size: 3vh;
}

.recipeLine {
  display: block;
  position: absolute;
  left: 50%;
  top: 20%;
  height: 70%;
  border-left: black solid 1px;
  z-index: 5;
}

.iconIconCancel {
  position: absolute;
  top: 1%;
  right: 0;
  font-size: 40px;
  z-index: 10;
}

.returnButton {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
}

.returnButton:hover {
  opacity: 1;
}

.button {
  position: absolute;
  top: 26px;
  left: 10px;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  transition: all .5s ease-in-out;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background: black;
  transition: all .5s ease-in-out;
}

.button::before {
  transform: rotate(45deg);
}

.button::after {
  transform: rotate(-45deg);
}