@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC&display=swap");

.setPage {
  z-index: 100;
}

.setTopBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: black;
  opacity: 0.1;
  backdrop-filter: blur(10px);
  z-index: 1;
  box-shadow: 0px 20px 10px -6px rgba(0, 0, 0, 0.48);
}

.setPicture {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50vw;
  z-index: 2;
}

.awssld__content {
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
}

.setArrowLeft {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 0;
  right: 0;
  text-align: left;
  color: white;
  font-size: 40px;
  z-index: 3;
}

.setArrowRight {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 0;
  right: 0;
  text-align: right;
  color: white;
  font-size: 40px;
  z-index: 3;
}

.setContent {
  display: block;
  position: absolute;
  background-color: rgb(241, 247, 237);
  top: 0;
  left: 50%;
  width: 50%;
  height: 100vh;
  z-index: 2;
}

.setTitle {
  position: absolute;
  display: block;
  height: 15vh;
  top: 5vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-left: auto;
  text-align: center;
}

.setTitle h1 {
  font-size: 4vh;
  font-weight: 300;
}

.setTitle h2 {
  font-size: 3vh;
  font-weight: 300;
}

.setIcons img {
  float: middle;
  margin-left: 30px;
  margin-right: 30px;
  width: 30px;
  height: 30px;
}

.setContentDescription {
  position: absolute;
  top: 18vh;
  left: 50%;
  width: 40%;
  height: 100%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 3vh;
  text-align: justify;
  overflow-y: hidden;
}

.setContentDescription h2 {
  font-weight: 300;
  text-align: center;
}

.setContentDescription p {
  font-weight: 300;
  text-align: justify;
  font-size: 2.1vh;
}

.setContentLines {
  position: absolute;
  display: block;
  z-index: 3;
  top: 25vh;
  left: 50%;
  height: 60vh;
  border-right: 0.1px solid black;
}

.setContentRecipes {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 18vh;
  padding-top: 3vh;
  width: 50%;
  height: 100%;
  position: absolute;
  text-align: justify;
  overflow-y: hidden;
}

.setContentRecipes h2 {
  font-weight: 300;
  text-align: center;
}

.setRecipe {
  display: block;
  border: 0;
  padding: 0;
  text-decoration: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  position: relative;
  flex-direction: column;
  width: 90%;
  height: 15%;
  margin: auto;
  margin-top: 2.5%;
  border-bottom: 1px black solid;
}

.setRecipe:focus {
  outline: 0;
}

.setRecipe:hover {
  cursor: pointer;
}

.setRecipePicture {
  position: absolute;
  top: 10%;
  left: 5%;
  height: 80%;
  width: 45%;
  background-size: 100% 100%;
}

.setRecipePicture1 {
  background: url("../../img/talerzyk.svg") no-repeat;
}

.setRecipePicture2 {
  background: url("../../img/rondel.svg") no-repeat;
}

.setRecipePicture3 {
  background: url("../../img/dezerek.svg") no-repeat;
}

.setRecipeTitle {
  left: 40%;
  font-size: 2vh;
  font-weight: 300;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 10px;
}

.setContent> ::-webkit-scrollbar-thumb {
  background: rgb(202, 28, 28);
}

.littleLogo {
  display: block;
  position: absolute;
  height: 14vh;
  width: 14vw;
  top: 85vh;
  left: calc(50% - 7vw);
  background: url("../../img/migzer.svg") no-repeat center center;
  background-size: 100% 100%;
  z-index: 3;
}

.popup-wrapper {
  width: 100%;
}

.popup-wrapper>* {
  width: 50%;
}

.returnButton {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
}

.returnButton:hover {
  opacity: 1;
}

.button {
  position: absolute;
  top: 26px;
  left: 10px;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  transition: all .5s ease-in-out;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background: black;
  transition: all .5s ease-in-out;
}

.button::before {
  transform: rotate(45deg);
}

.button::after {
  transform: rotate(-45deg);
}