  .body {
    background-color: black;
    font-size: 16px;
  }

  .loader {
    display: block;
    position: absolute;
    z-index: 6;
    background: url("./img/foodloosenapis.svg") no-repeat 100% 100%;
    background-position: center center;
    background-color: #FFEEE2;
    left: calc(50vw - 175px);
    top: 40%;
    width: 350px;
    height: 100px;
    text-align: center;
    color: white;
  }

  .loader__background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #FFEEE2;
    z-index: 5;
    transition: all 1s ease-in-out;
  }

  .loaded__background {
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  .loaded {
    top: 0;
    transition: all 1s ease-in-out;
  }

  .loading__photo {
    display: block;
    position: absolute;
    z-index: 6;
    background: url('./img/migzer.svg') no-repeat;
    background-position: center center;
    background-size: 100%;
    left: calc(50vw - 50px);
    top: 55%;
    width: 100px;
    height: 100px;
    text-align: center;
    animation: loadingLoop 3s infinite;
    -webkit-animation: loadingLoop 3s infinite;
    transition: all 1s ease-out;
  }

  .loaded__photo {
    opacity: 0;
  }

  @keyframes loadingLoop {
    33% {
      background: url('./img/rondel.svg') no-repeat;
    }

    66% {
      background: url('./img/talerzyk.svg') no-repeat;
    }

    100% {
      background: url('./img/migzer.svg') no-repeat;
    }
  }