  .body {
    background-color: black;
    font-size: 16px;
  }

  .loader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-image: url('./img/logo1.svg');
    background-position: center center;
    z-index: 6;
  }

  .loader-left {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 50vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
  }

  .loader-right {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 50vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 5;
  }

  .loaded {
    animation: slideOut 1s forwards;
    -webkit-animation: slideOut 1s forwards;
    transition: all 1s ease-in-out;
  }


  @keyframes slideOut {
    0% {
      transform: translateY(0vh);
    }

    40% {
      transform: translateY(-5vh);
    }

    45% {
      opacity: 1;
    }

    100% {
      transform: translateY(15vh);
      opacity: 0;
    }
  }

  .loaded-right {
    transition: all 1s ease-in-out;
    transform: translateX(50vw);
    -webkit-transform: translateX(50vw);
    -ms-transform: translateX(50vw);
  }

  .loaded-left {
    transition: all 1s ease-in-out;
    transform: translateX(-50vw);
    -webkit-transform: translateX(-50vw);
    -ms-transform: translateX(-50vw);
  }