@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
  background-color: black;
}

.mainPage {
  display: block;
  position: relative;
  background-color: white;
  width: 100%;
  height: 100vh;
}

.mainPage h1 {
  margin: 0;
}

.mainPictures {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background: url("../../img/set1.jpg") no-repeat;
  background-size: 100% 100%;
  /** moved this property down */
}

.mainContent {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100vh;
  background: url("../../img/mcdalenaglowa1.svg") no-repeat right bottom;
  background-size: 60% 60%;
}

.mainContentTitle {
  position: absolute;
  width: 100%;
  top: 37%;
  display: inline-block;
  text-align: center;
}

.mainContentTitle h1 {
  font-weight: 300;
}

.mainContentBar1 {
  position: absolute;
  left: 50%;
  top: 35%;
  width: 300px;
  transform: translate(-50%, -50%);
  border-bottom: 1px solid black;
}

.mainContentBar2 {
  position: absolute;
  left: 50%;
  top: 56%;
  width: 300px;
  transform: translate(-50%, -50%);
  border-bottom: 1px solid black;
}



.mainContentButton {
  color: black;
  position: absolute;
  display: block;
  z-index: 1;
  border: 1px black solid;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  top: 45vh;
  left: 0;
  right: 0;
  text-align: center;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.5s ease;
  display: inline-block;

}

.mainContentButton h2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 15px;
  font-weight: 300;
}


.mainContentButton:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #000;
  transition: all 0.5s ease;
}

.mainContentButton:hover {
  color: #fff;
}

.mainContentButton:hover:after {
  top: -0.5px;
  height: 101%;
}


.mainLogo {
  display: block;
  position: absolute;
  z-index: 4;
  background: url("../../img/foodloosenapis.svg") no-repeat 100% 100%;
  background-position: center center;
  background-color: rgba(255, 238, 226, 0.5);
  left: calc(50vw - 175px);
  width: 350px;
  height: 100px;
  text-align: center;
  color: white;
}

.littleLogo {
  display: block;
  position: absolute;
  z-index: 2;
  background-color: rgb(51, 27, 27);
  top: calc(100vh - 50px);
  left: 50vw;
  width: 50vw;
  height: 50px;
}

.mainScrollBar {
  display: block;
  position: absolute;
  z-index: 1;
  background-color: none;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50vw;
  width: 60px;
}

.mainScrollBackgroundDot {
  display: flex;
  flex-direction: column;
  z-index: 1;
  height: 30px;
  width: 30px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.mainScrollDot {
  background-color: none;
  border: 1px solid black;
  height: 15px;
  width: 15px;
  margin: auto;
  transition: all 0.2s ease-in-out;
}

.mainScrollDot:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background-color: black;

}

.active__set {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background-color: black
}

.mainScrollBarClicked {
  pointer-events: none;
}