.animationWrapper {
  position: relative;
}
.slide-right-enter {
  opacity: 1;
  top: 0;
  position: absolute;
  transform: scaleX(1) translateY(100%);
  transition: all 1000ms ease-in-out;
}

.slide-right-enter-active {
  opacity: 1;
  transform: scaleX(1) translateY(0);
  transition: all 1000ms ease-in-out;
}

.slide-right-exit {
  position: absolute;
  top: 0;
  opacity: 1;
  transform: scaleX(1) translateY(0);
  transition: all 1000ms ease-in-out;
}

.slide-right-exit-active {
  transform: scaleX(1) translateY(-100%);
  transition: all 1000ms ease-in-out;
}
